In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy
from collections import OrderedDict 
import math
import numpy as np
import io

In [2]:
data1=pd.read_csv('2 EG_FEC_RNEW.csv',index_col='S.No.')
data1=data1.drop(columns=['2001'])
data1=data1.rename(columns={'2017':'Renewable energy share in the total final energy consumption (%)'})
data1

,GeoAreaName,Renewable energy share in the total final energy consumption (%)
S.No.,,
1,Afghanistan,24.65
2,Albania,37.19
3,Algeria,0.14
4,American Samoa,1.75
5,Americas,16.47
...,...,...
230,Viet Nam,31.98
231,Wallis and Futuna Islands,0.67
232,Yemen,4.85
233,Zambia,84.53
234,Zimbabwe,83.29

In [4]:
data2=pd.read_csv('4 EG_EGY_RNEW.csv',index_col='S.No.')
data2=data2.drop(columns=['2001'])
data2=data2.rename(columns={'2017':'Installed renewable electricity-generating capacity (watts per capita)'})
data2

,GeoAreaName,Installed renewable electricity-generating capacity (watts per capita)
S.No.,,
1,Afghanistan,9.792
2,Algeria,16.024
3,American Samoa,75.085
4,Angola,81.472
5,Anguilla,146.764
...,...,...
166,Venezuela (Bolivarian Republic of),564.462
167,Viet Nam,192.539
168,Yemen,3.593
169,Zambia,144.850
170,Zimbabwe,62.326

In [5]:
common=pd.merge(data1, data2, how ='inner', on =['GeoAreaName'])
common

,GeoAreaName,Renewable energy share in the total final energy consumption (%),Installed renewable electricity-generating capacity (watts per capita)
0,Afghanistan,24.65,9.792
1,Algeria,0.14,16.024
2,American Samoa,1.75,75.085
3,Angola,56.16,81.472
4,Anguilla,0.18,146.764
...,...,...,...
157,Venezuela (Bolivarian Republic of),14.78,564.462
158,Viet Nam,31.98,192.539
159,Yemen,4.85,3.593
160,Zambia,84.53,144.850
161,Zimbabwe,83.29,62.326

In [6]:
correlation=(common['Renewable energy share in the total final energy consumption (%)'].corr(common['Installed renewable\xa0electricity-generating capacity (watts per capita)']))*100
if 20<=correlation<=80:
  print("Moderate Correlation")
elif correlation>80:
  print("Strong Correlation")
else:
  print("Weak Correlation")
print("Correlation between these data is:",round(correlation,2),"%")

Weak Correlation
Correlation between these data is: 0.28 %

# ___________________________________________

In [8]:
data3=pd.read_csv('1 EG_EGY_CLEAN.csv',index_col='S.No.')
data3=data3.drop(columns=['2001'])
data3=data3.rename(columns={'2017':'Proportion of population with primary reliance on clean fuels and technology (%)'})
data3

,GeoAreaName,Proportion of population with primary reliance on clean fuels and technology (%)
S.No.,,
1,Afghanistan,34
2,Albania,78
3,Algeria,95
4,Andorra,95
5,Angola,48
...,...,...
204,Viet Nam,62
205,Western Asia,93
206,Yemen,61
207,Zambia,14
208,Zimbabwe,29

In [9]:
data4=pd.read_csv('3 EG_EGY_PRIM.csv',index_col='S.No.')
data4=data4.drop(columns=['2001'])
data4=data4.rename(columns={'2017':'Energy intensity level of primary energy (megajoules per constant 2011 purchasing power parity GDP)'})
data4

,GeoAreaName,Energy intensity level of primary energy (megajoules per constant 2011 purchasing power parity GDP)
S.No.,,
1,Afghanistan,1.93
2,Albania,2.91
3,Algeria,4.05
4,Americas,4.79
5,Angola,3.41
...,...,...
201,Vanuatu,3.65
202,Venezuela (Bolivarian Republic of),6.02
203,Yemen,2.04
204,Zambia,8.05
205,Zimbabwe,12.95

In [10]:
common2=pd.merge(data3, data4, how ='inner', on =['GeoAreaName'])
common2

,GeoAreaName,Proportion of population with primary reliance on clean fuels and technology (%),Energy intensity level of primary energy (megajoules per constant 2011 purchasing power parity GDP)
0,Afghanistan,34,1.93
1,Albania,78,2.91
2,Algeria,95,4.05
3,Angola,48,3.41
4,Antigua and Barbuda,95,3.24
...,...,...,...
181,Vanuatu,8,3.65
182,Venezuela (Bolivarian Republic of),95,6.02
183,Yemen,61,2.04
184,Zambia,14,8.05
185,Zimbabwe,29,12.95

In [15]:
correlation2=(common2['Proportion of population with primary reliance on clean fuels and technology (%)'].corr(common2['Energy intensity level of primary energy (megajoules per constant 2011 purchasing power parity GDP)']))*100
if 20<=correlation2<=80:
  print("Moderate Correlation")
elif correlation2>80:
  print("Strong Correlation")
else:
  print("Weak Correlation")

Weak Correlation